tiktoken
pynvml~=11.5.0
sagemaker-ssh-helper==2.2.0
sagemaker==2.232.1
boto3==1.35.24
datasets
kaldialign
librosa
soundfile
safetensors
transformers
janus
uvicorn
soundfile
tritonclient[grpc]
fastapi
numpy
aiohttp
